
.table_block{
    height: 100vh;
}
.mat-elevation-z8{
    height: 90%;
    padding-top: 10px;
}

td img{
    width: 100px;
    height: 80px;
}
.img_td{
    padding: 7px 0 0 0;
}
.buttons{
    padding: 0;
}
mat-paginator{
    background-color: #d4d4d45e;
}
table{
    background-color: #ffffff00;
}
.block{
    background-color: #0000002e;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 10px;
}
.form_block{
    width: 40%;
    margin: auto;
    background-color: #232536;
    padding: 20px;
    border-radius: 17px
}
.mat-mdc-form-field{
    display: block;
    margin-bottom: 5px;
}
#form_btn{
    margin-right: 10px;
}
button#form_btn:disabled{
    color: rgb(87, 87, 87);
}