<div class="foot">
    <div class="container">
        <div class="main_footer">
            <div class="footer_nav">
                <div class="footer_logo">
                    <a href="">
                        <img src="assets/images/home_img/Logo.png" alt="">
                    </a>
                </div>
                <div class="footer_links">
                    <a routerLink="/home" >Home</a>
                    <a routerLink="/blog" >Blog</a>
                    <a routerLink="/about" >About us</a>
                    <a routerLink="/contact" >Contact us</a>
                    <a routerLink="/policy">Privacy Policy</a> 
                </div>
            </div>
            <div class="footer_block">
                <div class="footer_text">
                    <p>Subscribe to our news letter to get latest updates and news</p>
                </div>
                <div class="footer_input">
                    <form action="">
                        <input type="text" name="email" id="email" placeholder="Enter Your Email">
                        <a class="but_ReadMore in-block" type="button">Subscribe</a>
                    </form>
                </div>
            </div>
            <div class="footer_contact">
                <div class="f_contact_text">
                    <p>Finstreet 118 2561 Fintown</p> 
                    <p>Hello@finsweet.com  020 7993 2905</p>
                </div>
                <div class="f_contact_links">
                    <a href="https://www.facebook.com/" target="_blank" id="fb"></a>
                    <a href="https://www.twitter.com" target="_blank" id="twit"></a>
                    <a href="https://www.instagram.com" target="_blank" id="insta"></a>
                    <a href="https://www.linkedin.com" target="_blank" id="in"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    
