<div class="header_nav">
    <div class="container">
        <div class="d-flex">
            <div class="header_logo">
                <a routerLink="">
                    <img src="assets/images/home_img/Logo.png" alt="">
                </a>
            </div>
            <div class="navbar">
                <input type="checkbox" name="Menu" id="check-menu">
                <label id="navbar_label" for="check-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                </label>
                <div class="nav_menu">
                    <a routerLink="/home"  routerLinkActive="active">Home</a>
                    <a routerLink="/blog" routerLinkActive="active">Blog</a>
                    <a routerLink="/about" routerLinkActive="active">About us</a>
                    <a routerLink="/contact" routerLinkActive="active">Contact us</a>
                    <button type="button">Subscribe</button>
                </div> 
            </div>      
        </div>
    </div>
</div>