.posts_text h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #592EA9;
    margin-bottom: 20px;
}
.posts_text h2{
    font-family: Sen;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    margin-bottom: 16px;
}
.posts_text p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}
.block{
    display: flex;
    margin-bottom: 64px;
}
.posts_text {
    padding: 60px 120px 0px 32px;
}
@media screen and (max-width: 1150px){
    .posts_text{
        padding: 0 0 0 25px;
    }
    .posts_text h2{
        font-size: 33px;
        line-height: 40px;
    }
}
@media screen and (max-width: 890px){
    .block{
        flex-wrap: wrap;
    }
    .posts_text{
        padding: 0;
        width: 100%;
    }
    .posts_text h2{
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 640px){
    .posts_img img{
        width: 100%;
    }
    .posts_text p {
        font-size: 14px;
        line-height: 20px;
    }
    .posts_text h5 {
        font-size: 14px;
    }
    .posts_text h2 {
        font-size: 22px;
    }
    .block {
        margin-bottom: 40px;
    }
    
}
@media screen and (max-width: 440px){
    .posts_text p {
        font-size: 12px;
        line-height: 20px;
    }
    .posts_text h5 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .posts_text h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 360px){
    .block {
        margin-bottom: 25px;
    }
    
}