*{
    cursor: pointer;
}
.block{
    gap: 32px;
}
.block_elem {
    transition: 0.6s;
}
.block_elem:hover{
    background-color:  #FFD050;
}
.block_elem{
    padding: 32px;
    border: 1px solid #6D6E76;
    cursor: pointer;
    transition: 0.6s;
}

.block_elem h4{
    font-family: Sen;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
}
.block_elem p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

@media screen and (max-width: 1150px){
    .block_elem {
        padding: 15px;
    }
    .block_elem p{
        font-size: 14px;
    }
    .block_elem h4{
        font-size: 20px;
    }
}
@media screen and (max-width: 890px){
    .block{
        flex-wrap: wrap;
    }
    .block_elem{
        width: 45%;
    }
    .block_elem h4{
        font-size: 18px;
    }
    .block_elem p{
        font-size: 14px;
        line-height: 20px;
    }
    
}
@media screen and (max-width: 440px){
    .block_elem {
        width: 48%;
        padding: 8px;
    }
    .block_elem p{
        font-size: 12px;
    }
    .block_elem h4{
        font-size: 16px;

    }

    .block{
        gap: 10px;
    }
    .img_div img{
        width: 35px;
    }

}
